/* AuthPage.css */

/* Container for the whole authentication page */
.auth-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--white-main); /* Background color for the page */
}

/* Form Container Styles */
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color: var(--white-main);
}

/* Header Styles */
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-header .MuiTypography-h4 {
  margin: 0; /* Remove default margin for better alignment */
}

.form-header .logo-button {
  display: flex;
  align-items: center;
}

/* Submit Button Styles */
.submit-button {
  background-color: var(
    --green-main
  ) !important; /* Ensure green background for button */
  color: var(--white-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  margin-top: 16px !important;
}

.submit-button:hover {
  background-color: var(--green-main); /* Keep background color the same */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Password Requirements Section */
.password-requirements {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Banner styling */
.banner {
  flex: 1; /* Occupies the remaining space */
  background-image: url("../../assets/LoginBanner.jpg"); /* Update the image path if necessary */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
}

/* Styles for Typography components */
.link-text {
  margin-top: 16px !important; /* Adjust margin for spacing */
  text-align: center;
  font-size: 0.875rem; /* Adjust font size if needed */
}
