/* MapPage.css */

/* MapPage container styles */
.map-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.left-sidebar {
  width: 17%;
  background-color: var(--white-light);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: var(--mui-shadow-1);
  border-right: 2px solid var(--white-dark);
  box-sizing: border-box;
}

.logo-button-container {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary-button-container {
  margin-bottom: -8px;
  width: 100%;
}

.chat-button-container {
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
