/* MapPage.css */

.map-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.left-sidebar {
  width: 17%;
  height: calc(100vh - 56px);
  margin-top: 56px;
  background-color: var(--cream-light);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid var(--cream-dark);
  box-sizing: border-box;
}

.logo-button-container {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itinerary-button-container {
  margin-bottom: -8px;
  width: 100%;
}

.chat-button-container {
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
